*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(20, 19, 19, 0.801);
}

.container{
    position: relative;
    background-color: rgb(247, 249, 252);
    top:10px;
    left: 50px;
    width: 1200px;
    height: 640px;
}

bo{
    background-color: rgb(57, 228, 228);
}